@import "tailwindcss";


@theme {
  --color-black: #0A0D14;
}




@layer base {
  /* Heading 1 */
  h1, .h1 {
    @apply   text-lg md:text-2xl  lg:text-4xl  font-bold;
  }

  /* Heading 2 */
  h2, .h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  /* Heading 3 */
  h3, .h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  /* Heading 4 */
  h4, .h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-medium;
  }

  /* Heading 5 */
  h5, .h5 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-medium;
  }

  /* Heading 6 */
  h6, .h6 {
    @apply text-xs sm:text-sm md:text-base lg:text-lg font-medium;
  }

  /* Heading 7 */
  h7, .h7 {
    @apply text-[10px] sm:text-xs md:text-sm lg:text-base font-medium;
  }

  /* Heading 8 */
  h8, .h8 {
    @apply text-[8px] sm:text-[10px] md:text-xs lg:text-sm font-medium;
  }

  /* Heading 9 */
  h9, .h9 {
    @apply text-[6px] sm:text-[8px] md:text-[10px] lg:text-xs font-medium;
  }

  /* Heading 10 */
  h10, .h10 {
    @apply text-[4px] sm:text-[6px] md:text-[8px] lg:text-[10px] font-medium;
  }
}

