@import "tailwindcss";

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-black: #0A0D14;
}




@layer base {
  /* Heading 1 */
  h1, .h1 {
    @apply   text-lg md:text-2xl  lg:text-4xl xl:text-[45px]  font-normal;
  }

  /* Heading 2 */
  h2, .h2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  /* Heading 3 */
  h3, .h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
  }

  /* Heading 4 */
  h4, .h4 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl font-medium;
  }

  /* Heading 5 */
  h5, .h5 {
    @apply text-sm sm:text-base md:text-lg ;
  }

  /* Heading 6 */
  h6, .h6 {
    @apply text-[10px] md:text-[12px] lg:text-[12px] font-medium;
  }

  /* Heading 7 */
  h7, .h7 {
    @apply text-[10px] sm:text-xs md:text-sm lg:text-base font-medium;
  }

  /* Heading 8 */
  h8, .h8 {
    @apply text-[8px] sm:text-[10px] md:text-xs lg:text-sm font-medium;
  }

  /* Heading 9 */
  h9, .h9 {
    @apply text-[6px] sm:text-[8px] md:text-[10px] lg:text-xs font-medium;
  }

  /* Heading 10 */
  h10, .h10 {
    @apply text-[4px] sm:text-[6px] md:text-[8px] lg:text-[10px] font-medium;
  }
}


@layer utilities {
  /* wrapper */
  .marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
  }

  /* track */
  .marquee-track {
    display: inline-flex;
    animation: marquee 15s linear infinite;
  }

  /* infinite animation */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}



@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  } 
}

.animate-fadeSlide {
  animation: fadeSlide 1s ease;
}




:root {
    --color-text: #000;
    --colog-bg: #000;
    --color-bg-accent001: #31353F;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-50% - var(--gap));
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    min-width: max-content;
    animation: scroll-x var(--duration) linear infinite;
}

.marquee-reverse .marquee_group {
    animation-direction: reverse;
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

.logo {
    width: 100px;
    object-fit: contain;
    padding: calc(var(--size) / 10);
    border-radius: 20px;
    background: var(--color-bg-accent001);
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%);
    }
}
 



:root {
    --color-text: #000;
    --colog-bg: #000;
    --color-bg-accent001: #31353F;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-50% - var(--gap));
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    min-width: max-content;
    animation: scroll-x var(--duration) linear infinite;
}

.marquee-reverse .marquee_group {
    animation-direction: reverse;
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

.logo {
    width: 100px;
    object-fit: contain;
    padding: 8px;
    border-radius: 20px;
    background: var(--color-bg-accent001);
    flex-shrink: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%);
    }
}


.carousel-track-reverse .react-multi-carousel-track {
  transform: translateX(0) scaleX(-1);
}

.carousel-track-reverse .react-multi-carousel-item {
  transform: scaleX(-1);
}

/* Reverse the movement */
.reverse-carousel .react-multi-carousel-track {
  display: flex;
  flex-direction: row-reverse;  /* 👈 THIS IS THE REAL FIX */
}
